<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8LJDvpgRW1wDy9gXn3wo56DpK5pRGN_0</string>
	<key>GCM_SENDER_ID</key>
	<string>699607110047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorhub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tutorhub-e5cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorhub-e5cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699607110047:ios:31fd15899878a9e305adaa</string>
</dict>
</plist>